# When running locally on your machine
DB_HOST=test
DB_PORT=test
DB_DATABASE=test
DB_USER=test
DB_PASSWORD=test

# when running inside a container
DOCKER_DB_HOST=test
DOCKER_DB_PORT=test
DOCKER_DB_DATABASE=test
DOCKER_DB_USER=test
DOCKER_DB_PASSWORD=test